.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin: auto;
  border: 3px solid #73ad21;
  justify-content: flex-start;
}

.userCard {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #d9d9d9;
}

.chatWindow {
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  height: 100%;
  border: 3px solid #ff0000;
}

.messageInput {
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
