.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #157efb;
  margin: 6px 12px;
  padding: 7px;
  border-radius: 12px;
}

.metadataRow {
  padding: 2px;
  font-size: 14px;
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.message {
  padding: 2px;
  font-size: 18px;
  color: white;
  height: auto;
  width: 100%;
  overflow-wrap: break-word;
}
