.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.handleinputLabel {
  position: top;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.handleInput {
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 200px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
