.center {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.handleinputLabel {
  position: top;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.handleInput {
  padding: 5px 2px 5px 10px;
  width: 200px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
