.flex {
  display: grid;
  place-content: center;
}

button {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
  border-radius: 4px;
}
