.btnContainer {
  padding-top: 5px;
  padding-right: 1px;
  padding-bottom: 5px;
  padding-left: 2px;
  width: 34px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnLogin {
  width: 30px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  border: none;
}

.btnImg {
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  border: none;
}
